
.App{
  border:5px solid;
  width: 99%;
  box-sizing: border-box;
  padding: 10px;
  margin: auto  ;
  border-radius: 20px;
  /* background: linear-gradient(to bottom right, #FF6868,#C668FF); */
  background: linear-gradient( to bottom right, #C193C5,#7BC6CC);
    /* background: linear-gradient(to bottom right, #FF6868,#C193C5,#7BC6CC,#C668FF,#FD6868 ,#C668FF); */
  color: white;
    position: sticky;
    top :40px;
    font-family: 'Pacifico';
}
        /* background: linear-gradient(to bottom right, #FF6868,#C668FF); */
    /* background: linear-gradient( to bottom right, #C193C5,#7BC6CC); */
.gameName{
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin: 0px auto;

}

.block{
  width:70px;
  height:70px;
  border:5px solid white;
  background-size: cover;
  display: inline-block;
  margin: 3px;
  border-radius: 13px;
  box-sizing: border-box;
  align-content: center;
}
.board{
  text-align: center;
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.player{
  text-align: center;
  margin: 10px auto;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 25%;
}
.mark1{
  background-image: url("./assets/cross.jfif");
 
  
}
.mark2 {
  background-image: url("./assets/dot.png");

}

.button{
  background-color: rgb(173, 79, 173);
  color: white;
  border-radius: 10px;
  padding: 5px 8px;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: 700;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
}

.game{
  font-family: 'Pacifico';
  color: white;
  animation: neon 5s infinite;
}

@keyframes neon {
  0%, 39% , 41%, 59%,61%,100%{
    text-shadow: white 0 0 12px,#ff3aad 0 0 36px,#ff3aad 0 0 36px
  }
  40%,60%{
    text-shadow: none;
  }
}

/*  #ff3aad 0 0 24px */

@media screen and (max-width:990px) {
  .gameName{
    font-size: 50px;
  }
  .board{
    display: block;
    text-align: center ;
    align-items: center;
    padding: 10px;
  }
  .buttonContainer{
    width:auto;
    margin: auto;
    max-width: 220px;
  }
  .player{
    font-size: 30px;
    width: 35%;
  }

  .block{
    width:50px;
    height:50px
  }
}
@media screen and (max-width:800px) {
  .player{
    font-size: 20px;
  }
}

@media screen and (max-width:400px) {
  .player {
    font-size: 16px;
    letter-spacing: 0px;
  }
}


@media screen and (max-width:300px) {
 .gameName{
  font-size: 30px;
 }
 .button{
  padding: 2px 5px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 16px;
 }
}