.gameName{
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  margin: auto;
}

.block{
  width:70px;
  height:70px;
  border:5px solid black;
  background-size: cover;
  display: inline-block;
  margin: 3px;
  border-radius: 13px;
  box-sizing: border-box;
  align-content: center;
}
.board{
  text-align: center;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.player{
  text-align: center;
  margin: 0px auto;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.mark1{
  background-image: url("./assets/cross.jfif");
 
  
}
.mark2 {
  background-image: url("./assets/dot.png");

}

.button{
  background-color: rgb(173, 79, 173);
  color: white;
  border-radius: 10px;
  padding: 5px 8px;
  letter-spacing: 1px;
  margin-top: 10px;
font-weight: 700;
}